.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95vh;
  padding: 20px;
  padding-left: 6rem;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  transform: skewY(-2deg);   /*works on Chrome, Edge */
  -ms-transform: skewY(-2deg);       /* IE */
  -webkit-transform: skewY(-2deg);
}

.image-container {
  display: flex;
  justify-content: space-between; /* Makes sure the columns are side by side */
  gap: 2px; /* Add some gap between the two columns */
  width: 50%; /* Make sure the image container takes up 55% of the Book_Appointment section */
  position: relative;
  z-index: 1; /* Ensure images are above the background */
  transform: skewY(2deg);   /*works on Chrome, Edge */
  -ms-transform: skewY(2deg);       /* IE */
  -webkit-transform: skewY(2deg); 
}

.image-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  width: 50%; /* Make sure both columns take up equal space */
}

.column-one {
  animation: slide-top-to-bottom 10s infinite;
}

.column-two {
  animation: slide-bottom-to-top 10s infinite;
}

.image-column img {
  width: 280px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hero-text {
  width: 48%; /* Adjust the text container's width */
  text-align: left;
  z-index: 5;
  transform: skewY(2deg);   /*works on Chrome, Edge */
  -ms-transform: skewY(2deg);       /* IE */
  -webkit-transform: skewY(2deg);   /* Safari */
}

.hero-text h1 {
  font-size: 46px;
  font-family: "Inter", sans-serif;
  font-weight: 550;
  margin-bottom: 30px;
  margin-top: 0px;
}

.hero-text p {
  font-family: "Inter", sans-serif;
  font-size: 21px;
  color: #707070;
  margin-bottom: 172px;
}

/* Search Bar */
.search-bar {
  position: absolute;
  bottom: 100px;
  width: 86.5%;
  height: 92px;
  display: flex;
  justify-content: center;
  margin-left: 65px;
  max-width: 2400px;
  z-index: 10;
  transform: skewY(2deg);   /*works on Chrome, Edge */
  -ms-transform: skewY(2deg);       /* IE */
  -webkit-transform: skewY(2deg);   /* Safari */
  background-color: white;
  border-radius: 15px;
}

.input-first {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 377px;
  height: 60px;
  margin-top: 17px;
  margin-left: 17px;
}

.input-second {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 252px;
  height: 60px;
  margin-top: 17px;
  margin-left: 11px;
}

.input-third {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 230px;
  height: 60px;
  margin-top: 17px;
  margin-left: 11px;
}

.search-bar button {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;             /*Linear Color, in place of Solid color*/
  background-image: linear-gradient(43deg, #0CB9B3 0%, #1173B3 100%);
  color: white;
  cursor: pointer;
  height: 60px;
  width: 157px;
  margin-top: 17px;
  margin-left: 12px;
  border-radius: 10px;
}

@keyframes slide-top-to-bottom {
  0% {
    transform: translateY(-50%);
  }
  25% {
    transform: translateY(-25%);
  }
  50% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(25%);
  }
  100% {
    transform: translateY(50%);
  }
}

@keyframes slide-bottom-to-top {
  0% {
    transform: translateY(50%);
  }
  25% {
    transform: translateY(25%);
  }
  50% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(-25);
  }
  100% {
    transform: translateY(-50%);
  }
}

.hero-span {                          /*Text Linear Color, in place of Solid color*/
  background: linear-gradient(43deg, #1173B3 0%, #0CB9B3 100%);
  background-clip: text;
  color: transparent;
}

// .find-now-button {              /*Linear Color, in place of Solid color*/
//   background-image: linear-gradient(43deg, #0CB9B3 0%, #1173B3 100%);
// }