.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95vh;
  padding: 50px;
  padding-left: 6rem;
  background-color: #f4f4f4;
  position: relative;
  overflow: hidden;
}

.image-container {
  display: flex;
  justify-content: space-between; /* Makes sure the columns are side by side */
  gap: 2px; /* Add some gap between the two columns */
  width: 50%; /* Make sure the image container takes up 55% of the Book_Appointment section */
  position: relative;
  z-index: 1; /* Ensure images are above the background */
}

.image-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  width: 50%; /* Make sure both columns take up equal space */
}

.column-one {
  animation: slide-top-to-bottom 10s infinite;
}

.column-two {
  animation: slide-bottom-to-top 10s infinite;
}

.image-column img {
  width: 280px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hero-text {
  width: 48%; /* Adjust the text container's width */
  text-align: left;
  z-index: 5;
}

.hero-text h1 {
  font-size: 45px;
  margin-bottom: 30px;
  margin-top: 0px;
}

.hero-text p {
  font-size: 18px;
  color: grey;
}

/* Search Bar */
.search-bar {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 2400px;
  z-index: 10;
}

.search-bar input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 250px;
}

.search-bar button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

@keyframes slide-top-to-bottom {
  0% {
    transform: translateY(-50%);
  }
  25% {
    transform: translateY(-25%);
  }
  50% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(25%);
  }
  100% {
    transform: translateY(50%);
  }
}

@keyframes slide-bottom-to-top {
  0% {
    transform: translateY(50%);
  }
  25% {
    transform: translateY(25%);
  }
  50% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(-25);
  }
  100% {
    transform: translateY(-50%);
  }
}

.hero-span {                          /*Text Linear Color, in place of Solid color*/
  background: linear-gradient(43deg, #1173B3 0%, #0CB9B3 100%);
  background-clip: text;
  color: transparent;
}

.find-now-button {              /*Linear Color, in place of Solid color*/
  background-image: linear-gradient(43deg, #0CB9B3 0%, #1173B3 100%);
}